@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: black;
  color: white;
}

::selection {
  background: white;
  color: black;
}

body {
  overflow-x: hidden;
}