@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  overflow-x: hidden;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

::selection {
  background: white;
  color: black;
}

button,
a {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}